API_ID=12050714
API_HASH=08f1a315f287b51656a25e99966ac0e7
BOT_TOKEN=5665918097:AAHXOUwjpWdNSpwXfc3JNMbXOcxyptMGdlg
SESSION_STRING=ABC-BQC7ZHeNInCXDuB2inL1ssV70VVwxnhTDUkVAJe7xZzQfo0ProlVuAwIwrlGg4NJ_X2Ckp53Nmus0_26D3pVF5xWU5GOv43GvHlq1XEphNL83oxrXMau0E0h8BGlzNstQ3Msm0g7-4FmcL_zkY1zfJaXDd6m3TxIwdoBrhXQJE1wFDkdKkQqYpM_1cRMNaO9o4DzeVqS3CfdQisgNsBR9EDMvLgCplf0kNz37txsPKD0j6OLRmFViYh4jaK4GuZPvETB7UpNZz5dWQeS4DgwmGyYJWSAk10MioxuiobCihuMQgs7xsWn1xCGWsZUfawAakiNp0tlXe1LVkSisypRqzCJAAAAAVgxB9QA
CHAT=-1001740701212
ADMINS=5774575572
DATABASE_URI=mongodb+srv://dwianggita:doabanda@cluster0.zidjqzm.mongodb.net/?retryWrites=true&w=majority
