API_ID=17189942
API_HASH=99a0f64c85d8c36e584b41c1089f007a
BOT_TOKEN=5665918097:AAGzSFlO4FLHPhN5Xw9WLMuCfGzgs79VGYw
SESSION_STRING=BQAMP-rRvQQXutlpEnbpHRXOa1Lv6r9kjKczPMVNEIACeY7HFYomO1zLWbRSejPCrSSFWIxEu3zMx1FYnyqeYq0txrOJ2tohR9mZbBAnkL9_to9GgDmfr8oWh3IegTGwgwzwjTY63QVFX0e-69CWfnqMFlfAyafQMFMSOF5_PE0eIXfk9T_-VmY_YF0jxl_bCbiezJLFXFJUkv-2XJvwbf2nV7BZw3LqKSfHJuW3SvDtPnM4kO53rQEzleE0yINmpRK7LLvUNH3n2trd8kU9mlKUqOXMQHZqOujsJq4EZ4ifz4MSo0uGhVjS-rNjeLbYenDiXF75dZUtJi2DR7_B7HLtAAAAAVeNU_IA
CHAT=-1001740701212
ADMINS=5763847154
DATABASE_URI=mongodb+srv://doabandar:doabanda@cluster0.2p8pnki.mongodb.net/?retryWrites=true&w=majority
